.item{
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 0.9rem;
    height: 350px;
    margin-bottom:5px ;
 
   
    
}
.item img{
   height: 70%;
}
.card-item{
    text-align: center;
}
.card-item a{
    text-decoration: none;
    display: block;
}
.item p{
    font-size: 14px;
    color: black;
}
.item-price-old{
    color: gray;
    text-decoration: line-through;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.item button{
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #9f4c4c;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
.item button:hover{
    background-color: #913333;
}
