.top{
    position: sticky; /* Fix the navbar at the top */
    top: 0; /* Set the top position to 0 */
    left: 0; /* Set the left position to 0 */
    width: 100%; /* Make the navbar full width */
    z-index: 10; 
    background-color: white;
}
.logo-search span{
    color: #ff6b6b;
}


.form{
    width: 600px;
    position: relative;
}
.form-control:focus{
    box-shadow: none;
    background-color: rgb(241, 242, 241);
    border: 1px solid #8395a7;
}
.search{
    padding: px;
    border-radius: 10px;
    width: 100%;
    background-color: rgb(241, 242, 241);

}

.search-btn{
    position: absolute; 
    right: 20px;
    top: 50%; 
    transform: translateY(-50%); 
    font-size: 1.2em; 
    cursor: pointer;
}
.signin-cart{
    margin-right:25px;
    align-items: center;
   
}
.signin-cart a{
    text-decoration: none;
    color: #5a5f63;
}
.signin-cart .account{
    border: 1px solid rgb(207, 205, 205);
    padding: 5px;
    border-radius: 5px;
}
.signin-cart .account span{
    padding: 5px;
    font-size: 13px;
    font-weight: 500;
}
.cart{
    border-left: 1px solid;
    position: relative;
  }

.cart-number{
    background-color: red;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -6px;
    right: -6px;
    color: aliceblue;
    
}
.nav-bar{
    position: sticky; /* Fix the navbar at the top */
    top: 0; /* Set the top position to 0 */
    left: 0; /* Set the left position to 0 */
    width: 100%; /* Make the navbar full width */
    z-index: 9; 
    background-color: white;
    border-bottom: 1px solid transparent; 
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
.hidden{
    top: -350px;
    transition: top 0.3s;
   
}
.nav-bar a{
    text-decoration: none;
    color: rgb(131, 129, 129);
    
    
}
main{
    width: 100%;
    border-bottom: 1px solid transparent; 
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
.dropdown-toggle::after {
    display: none !important; 
  }

