.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky; 
    top: 0; 
    left: 0; 
    width: 100%;
    z-index: 1000; 
    background-color:#ffffff;
  
}

.top-border{
    border-bottom: 1px solid transparent; 
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.logo a{
    font-weight:bolder;
   font-size:xx-large;
   font-family:  "Dancing Script", cursive;
    text-decoration: none;
    color: #ff6b6b;
}
.logo-search{
    align-items: center;
}


.form{
    width: 600px;
    position: relative;
}
.form-control:focus{
    box-shadow: none;
    background-color: rgb(241, 242, 241);
    border: 1px solid rgb(216, 215, 215);
}
.search{
    padding: px;
    border-radius: 10px;
    width: 100%;
    background-color: #f8f9fa;

}

.search-btn{
    position: absolute; 
    right: 20px;
    top: 50%; 
    transform: translateY(-50%); 
    font-size: 1.2em; 
    cursor: pointer;
}
input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
.signin-cart{
    margin-right:25px;
    align-items: center;
   
}
.signin-cart a{
    text-decoration: none;
    color: #3c3e40;
}
.signin-cart .account{
    border: 1px solid rgb(207, 205, 205);
    padding: 5px;
    border-radius: 5px;
}
.signin-cart .account span{
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
}
.cart{
    border-left: 1px solid  rgb(207, 205, 205);
    position: relative;
  }
.cart span{
    font-size: 14px;
}

.cart-number{
    background-color: red;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20%;
    top: -10px;
    right: -10px;
    color: aliceblue;
    
}
.nav{
    
}

.nav-bar{
    font-size: 16px;
   
    width: 100%; /* Make the navbar full width */
    z-index: 9; 
   background-color:  #ffffff;
    border-bottom: 1px solid transparent; 
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 2px; 
}
.hidden{
    top: -10px;
}
.menu-list{
    padding-bottom: 2px;
    color: #a49f9f !important;

}
#collasible-nav-dropdown:hover{
    padding-bottom: 6px;
    border-bottom:2px solid #ff6b6b;

}
.menu-list:hover{
    border-bottom:2px solid #ff6b6b;
    color: black !important;
}
.nav-bar a{
    text-decoration: none;
    color:#a49f9f ;
    
}
.activeclass{
    color: black !important;
}
main{
    width: 100%;
    border-bottom: 1px solid transparent; 
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
.dropdown-toggle::after {
    display: none !important; 
  }

