.nav-down{
    display: none;
    color: black;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-top: 1px solid transparent; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.nav-down span{
   margin-left: 8px;
}
.nav-down-item{
    cursor: pointer;
    padding:10px 5px;
    background-color: white;
}
.nav-down-item:hover{
    background-color: rgb(239, 233, 233);

}
.nav-down a{
    text-decoration: none;
    color: black;
    
}
.nav-down a:hover{
    color: black;
}
.basket{
    position: relative;
}
.basket-number{
    position: absolute;
    z-index: 1;
    background-color: #fd5a5a;
    width: 20px;
    height: 20px;
    top: -10px;
    left: -8px;
    border-radius: 20%;
    color: aliceblue;
    font-size: 12px;
   
    
}
.icon{

}
@media (max-width:1024px){
    .nav-down{
        display: block;
    }
}