@media (max-width: 1024px){
    .signin-cart .account{
       display: none;
    }
    .signin-cart .cart{
        display: none;
    }
    .logo-search{
        width: 100%;
    }
    .form{
      width: 100%;
    }
    .nav-bar{
        display: none;
    }
    .under-border{
        border-bottom: 1px solid transparent; 
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    }
    header{
        display: inline;
        padding: 10px;
    }
    
}