.footer {
  border-top: 1px solid transparent; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #ffffff;
    color: #333; 
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
  }
  
  .footer-section h4 {
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  
  .footer-section p, .footer-section ul {
    margin: 0;
    padding: 0;
  }
  
  .footer-section ul {
    list-style: none;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-section ul li a:hover {
    color: #555;
  }
  
  .social-icons a {
    color: #333;
    font-size: 20px;
    margin-right: 10px;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #555; 
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #ccc; 
    padding-top: 10px;
  }
  
  @media (max-width: 900px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-section {
      margin: 10px 0;
    }
    
  }
  