.slider-item-card{
    width: 205px;
    height: 250px;
}
.slider-item{
text-align:  center;
font-size: 16px;
width: 205px;
}

.slider-item img{
    height: 180px;
    width: 205px;
}
.item-price-new{
    font-size: 18px;
    font-weight: 600;
}
.off span{
    border-radius: 50px;
}