header{
    position: sticky; /* Fix the navbar at the top */
    top: 0; /* Set the top position to 0 */
    left: 0; /* Set the left position to 0 */
    width: 100%; /* Make the navbar full width */
    z-index: 10; 
    background-color: white;
    border-bottom: 1px solid transparent; 
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
body a{
    text-decoration: none;
}